[user]
  name = Jason Kroll
  email = jkroll@alumni.tufts.edu
[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
[alias]
[push]
  default = simple
[diff]
  tool = vimdiff
[filter "media"]
  clean = git media clean %f
  smudge = git media smudge %f
  required = true
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  path = nvim
  cmd = nvim -d $LOCAL $REMOTE -c '$wincmd w' -c '$wincmd l'
  #cmd = nvim -d $REMOTE $LOCAL $MERGED -c '$wincmd w' -c '$wincmd J'
  #cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
