[user]
  name = Jason Kroll
  email = jkroll@alumni.tufts.edu
[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
[alias]
[push]
  default = simple
[diff]
  tool = vimdiff
[filter "media"]
  clean = git media clean %f
  smudge = git media smudge %f
  required = true
[merge]
	tool = vimdiff3
[mergetool]
	path = nvim
