!URxvt*font: xft:DejaVu Sans Mono:pixelsize=14:antialias=true:hinting=true
!URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=14:antialias=true:hinting=true

URxvt*font: xft:Source Code Pro:pixelsize=14:foundry=adobe:weight=normal:width=normal:spacing=100:scalable=true
URxvt*boldFont: xft:Source Code Pro:bold:pixelsize=14:foundry=adobe:width=normal:spacing=100:scalable=true

!URxvt*transparent: true
! URxvt*tintColor: #203050
!URxvt*shading: 50

URxvt.cursorBlink: 0

! These are used in ~/.tmux.conf  C-Tab, C-S-Tab
URxvt*keysym.C-Tab: \033[27;5;9~
URxvt*keysym.C-ISO_Left_Tab: \033[27;6;9~

URxvt*iso14755: false

URxvt.depth: 32

URxvt.saveLines:32767
URxvt.scrollBar: false

URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: uzbl-browser
URxvt.matcher.button: 2
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]

!URxvt.intensityStyles: false

!#include "solarized-xresources"
!#include "zenburn-xresources"
#include "base16-default.dark.256.xresources"
